<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="2;/"> 
    <title>404</title>


     <!--- CSS --->
     <link rel="stylesheet" href="/assets/css/index.css">
     <link rel="stylesheet" href="/assets/css/cursor.css">

</head>
<body id="cannot">
    <div class="container">
        <p style="color: #f74d4d;">404</p>
        <div class="stack" style="--stacks: 3;">
          <span style="--index: 0;">PAGE</span>
          <span style="--index: 1;">PAGE</span>
          <span style="--index: 2;">PAGE</span>
        </div>
        <span style="color:  #f74d4d;" class="right">Not found</span>
      </div>

    <!--- SCRIPT --->  
<script src="/assets/js/canot.acces.js"></script>
<script src="/assets/js/val.js"></script>
</body>
</html>