<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laburados - Market | FAQ</title>

    <!--- CSS --->
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/faqs.css">

</head>
<body id="back__faq">
    <section>
        <h2 class="title__faqs">FAQs</h2>
        <div class="faq">
        <div class="question">
            <h3 class="pregunta">¿Que puedes scrappear con laburados-scrapper?</h3>
            <svg width="15" height="10" viewBox="0 0 32 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" sroke-linecap="round"></path>
            </svg>
        </div>
        <div class="respuesta">
            <br>
            <p class="res">Con laburados-scrapper puedes skipear (cloudfare, capcha, implemtentacion de cookies y payloads)</p>
        </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3 class="pregunta">¿Que debo hacer para scrappear con laburados-scrapper?</h3>
                <svg width="15" height="10" viewBox="0 0 32 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" sroke-linecap="round"></path>
                </svg>
            </div>
            <div class="respuesta">
                <br>
                <p class="res">Es muy facil!, deberas loguearte tanto en el programa como en la web, si no tienes licencia activar una, y poner la url de la pagina a scrappear cuando se lo solicite</p>
            </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3 class="pregunta">¿Como puedo obtener laburados-scrapper?</h3>
                    <svg width="15" height="10" viewBox="0 0 32 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" sroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="respuesta">
                    <br>
                    <p class="res">Para obtener laburados-scrapper deberas comprarlo por nuestro discord o shoppy, una ves realizado el pago su licencia sera entregada inmediatamente</p>
                </div>
                </div>
                
           
           
    </section>
    
<!--- SCRIPT --->
<script src="/assets/js/logs.faqs.js"></script>
<script src="/assets/js/faq.js"></script>


</body>
</html>