<!DOCTYPE html>
<html lang="en">
<head>

    <!--- Etiquetas Metas --->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="laburados, laburados.com, dblaburados, scraping, market, laburadosmarket, programacion, empresas, proyectos">
    <meta name="description" content="Laburados - Market, un mercado en el cual podras obtener productos externos al principalmente planeado en laburados.com, todos los prodcutos que vendemos estan programados por nosotros mismos, tenemos mucha experencia y los mejores productos del mercado">
    <meta name="copyright" content="laburados.com">
    <meta name="developer" content="Student y jayce">



    <!--- BoxIcons --->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--- CSS --->
    <link rel="stylesheet" href="/assets/css/global.css">

    <title>Laburados - Market</title>
</head>

<body id="index">
<header>
    <div>
        <p class="logo"> LABU<b class="normal__opacity">RADOS</b><b class="medium__opacity">MAR</b><b class="plus__opacity">KET</b><p class="subtitle">Student & jayce</p></p> <a href=""></a></p>
        <br>
        

    </div>

    <nav class="navbar_derecha">
        <ul class="nav__list">
            <li class="list__links"><a href="/login">LOGIN</a></li>
            <li class="list__links"><a href="/register">REGISTER</a></li>
            <li class="list__links"><a href="/faq">FAQ</a></li>
            
            
        </ul>
   
       </nav>
</header>


<img class="change__imagen" src="/assets/img/imagen.svg" alt="">   
<section class="button__and__title">
    <div class="ind">

        <h2 class="one__title">Laburados market, servicios de alta calidad y <br> mejores <b class="titulo__rojo">precios</b></h2>
        <br>
        <button  class="btn__emp"><a href="https://discord.gg/laburados" target="_blank">EMPEZAR AHORA</a>  <i class='bx bx-arrow-back bx-rotate-180' ></i></button>
      
    </div>
  
</section>


<!--- SCRIPT --->
<script src="/assets/js/logs.js"></script>
<script src="/assets/js/val.js"></script>
 
</body>
</html>